* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  /* position: relative; */
  background-color: whitesmoke;
}

.scroll {
  width: 100%;
  /* min-height: 500px;
  background-color: blue; */
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}

.scroll::-webkit-scrollbar {
  display: none;
}

h1 {
  display: inline-block;
  font-size: 200px;
  font-family: monospace;
  text-transform: uppercase;
  /* gap: 20px; */
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: black;
  color: transparent;
  /* background-color: aquamarine; */
  /* margin-right: 30px; */
  animation-name: scroll;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes scroll {
0% {
  transform:translateX(-5%)
}
100% {
    transform:translateX(calc(100vw));
  }
/* 100% {
    transform:translateX(-calc(100vw));
  } */
}


/* 
@keyframes scroll {
  0% {
    transform: translateY(50px)  translateX(-5%);
  }
  20% {
    transform: translateY(-50px) translateX(calc(20vw));
  }
  40% {
    transform: translateY(50px) translateX(calc(40vw));
  }
  60% {
    transform: translateY(-50px) translateX(calc(60vw));
  }
  80% {
    transform: translateY(50px) translateX(calc(80vw));
  }
  100% {
    transform: translateY(-50px) translateX(calc(100vw));
  }
} */
